* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.home {
    background-image: url('./assets/home.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .header-container {
    position: absolute;
    width: 100%;
    top: 40vh;
    background-color: white;
    opacity: 80%;
}

.home .header {
    text-align: center;
    padding: 5px 10px;
}

.home .start-button {
    position: absolute;
    top: 55vh;
    text-align: center;
    left: 0;
    right: 0;
}

.searchButton {
    height: 31px;
    padding: 2px 16px;
    border: none;
    margin-left: 15px;
    background-color: rgba(3, 159, 207, 0.521);
    color: white;
    font-weight: bold;
    border-radius: 5%;
}

.oneListing {
    margin-top: 10px;
    max-height: 90vh;
}

.oneListing .carousel {
    width: 90%;
}

.oneListing .listing-image {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.oneListing .recommend-col .recommend-heading {
    background-color: rgba(74, 74, 245, 0.096);
    text-align: center;
    padding: 8px 0px;
    border-radius: 5px;
    font-weight: 600;
}